.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
    padding: 1%;
}

.photo-card {
    position: relative;
    width: 450px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2%;
}


.photo-card img {
    width: 100%;
    height: auto;
    display: block;
}


.load-btn {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.photo-fav {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
}