.photo-detail-container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    }

    h3 {
        margin-top: 16px;
        font-size: 24px;
    }

    p {
        color: #666;
        margin-top: 4px;
    }
}

.load-btn {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}